node_modules
npm-debug.log
build-debug.log
.DS_Store
.settings
.project
*.gz
*.pyc
*.komodoproject
/nbproject/private/

lib/block/tests/compile/main_compressed.js
lib/block/tests/compile/*compiler*.jar
lib/block/tests/screenshot/outputs/*
lib/block/local_build/*compiler*.jar
lib/block/local_build/local_*_compressed.js
lib/block/chromedriver
lib/block/typings/tmp/*
lib/block/dist/
gen/*
